header {
  top: 0px;
  position: fixed;
  overflow: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: 100px;
  overflow: hidden;
  z-index: 3;
}

#logo {
  float: left;
  width: 100px;
  height: 70px;
  background-image: url("BrainBrain.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-indent: -9999px;
  position: relative;
  z-index: 2;
  -webkit-transition: opacity 0.41s linear;
  -moz-transition: opacity 0.41s linear;
  -o-transition: opacity 0.41s linear;
  transition: opacity 0.41s linear;
}

#logo:hover {
  background-image: url("BrainBrain.png"), radial-gradient(rgba(255, 255, 255, 0.916) 30%, rgba(255, 255, 255, 0) 70%);
  background-position: left bottom;
  background-repeat: no-repeat;
}

header nav ul {
  z-index: 2;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  top: 0px;
  right: 5%;
  height: 100px;
  margin: 0;
  padding: 0;
  float: right;
  text-align: right;
}

header nav ul li {
  display: inline;
  padding: 0;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-family: DINWebPro-Bold;
  text-transform: uppercase;
  font-size: 1.4375em;
  letter-spacing: 0.1em;
  display: inline-block;
  position: relative;
  margin-left: 20px;
  font-weight: normal;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}

header nav ul li a:hover {
  color: #f531ff;
}

header nav ul li a.active {
  color: #f531ff;
}

.secondbrain1 {
  color: white;
  position: relative;
  display: inline-block;
  width: 216px;
  flex-shrink: 0;
  font-size: var(--font-size-17xl);
  font-family: var(--font-turret-road);
  left: 5%;
}

.full-logo {
  left: 5%;
  float: left;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  height: 100%;
}

.main-container {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: calc(100% - 100px);
  top: 100px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-work-sans);
}

.two-cols {
  position: relative;
  left: 4%;
  right: 4%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  height: 96%;
  width: 92%;
}

.sidebar {
  position: relative;
  width: 300px;
  height: 100%;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
  box-shadow: 0 58px 80px rgba(0, 0, 0, 0.16);
}

.sidebar-inner {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 14px;
  left: 13px;
  width: 267px;
  height: 302px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
}

.new-chat-button {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-3xs);
  text-align: center;
  font-size: var(--font-size-mini);
}

.chat-select-button {
  display: flex;
  justify-content: flex-start;
  align-self: stretch;
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs);
  gap: var(--gap-5xs);
}



.chat-window {
  flex: 1;
  position: relative;
  height: 100%;
  width: 94%;
  font-size: var(--font-size-base);
  border-radius: var(--br-sm);
  background-color: rgba(255, 255, 255, 0.41);
  ;
  box-shadow: 0 58px 80px rgba(0, 0, 0, 0.16);
}

.chat-window-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xl);
}

.chat-scroll {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xl);
}

.chat-bottom{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1%;
}

#chat-box {
  border:none;
  align-self: stretch;
  border-radius: var(--br-3xs);
  background: linear-gradient(89.94deg,
      rgb(188, 116, 113),
      rgb(220, 135, 211) 23.96%,
      rgb(143, 87, 180) 50.52%,
      rgb(99, 103, 219) 73.96%,
      rgb(123, 239, 243));
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-4xs) var(--padding-3xs) var(--padding-4xs) var(--padding-2xl);
  font-size: var(--font-size-mini);
  color: var(--color-black);
  width: 100%;
}
#chat-box::placeholder{
  color:rgb(52, 52, 52);
}
#chat-box:focus{
  border:none;
  outline: none;
}

.send-button {
  position: relative;
  display: flex;
  justify-content: flex-end;
  float: right;
  width: 103.56px;
  height: 46px;
  text-align: center;
  border-radius: var(--br-781xl);
  background-color: var(--color-gray-700);
}

.send {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 17.78px);
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
}

.ask-your-brain {
  position: relative;
  line-height: 20px;
  text-transform: capitalize;
  flex-grow: 1;
}





.bot-message {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--br-3xs);
  background-color: rgba(25, 22, 28, 1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-xl);
}

.user-message {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--br-3xs);
  background-color: rgba(25, 22, 28, 0.51);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-xl);
}

.bot-message-pic {
  position: relative;
  width: 53px;
  height: 57px;
  object-fit: contain;
}

.user-icon {
  position: relative;
  width: 53px;
  height: 56px;
  object-fit: cover;
}

.generating-innovative-ideas {
  flex: 1;
  position: relative;
  line-height: 27.3px;
}

.new-chat {
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
}

.chat-icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.chat-title-1 {
  flex: 1;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
}