header {
  top: 0px;
  position: fixed;
  overflow: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: 100px;
  overflow: hidden;
  z-index: 3;
}

#logo {
  float: left;
  width: 100px;
  height: 70px;
  background-image: url("BrainBrain.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-indent: -9999px;
  position: relative;
  z-index: 2;
}

#logo:hover {
  background-image: url("BrainBrain.png"), radial-gradient(rgba(255, 255, 255, 0.916) 30%, rgba(255, 255, 255, 0) 70%);
  background-position: left bottom;
  background-repeat: no-repeat;
}


header nav ul {
  z-index: 2;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  top: 0px;
  right: 5%;
  height: 100px;
  margin: 0;
  padding: 0;
  float: right;
  text-align: right;
}

header nav ul li {
  display: inline;
  padding: 0;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-family: DINWebPro-Bold;
  text-transform: uppercase;
  font-size: 1.4375em;
  letter-spacing: 0.1em;
  display: inline-block;
  position: relative;
  margin-left: 20px;
  font-weight: normal;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

header nav ul li a:hover {
  color: #f531ff;
}

header nav ul li a.active {
  color: #f531ff;
}

.second-brain {
  background: linear-gradient(89.95deg,
      #be4c45 4.02%,
      #e13cd0 28.92%,
      #6d01b7 50%,
      #242ade 70.68%,
      #43f1f6 94.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.unleash-your-minds-container {
  flex: 1;
  position: relative;
  line-height: 110%;
  font-weight: 600;
}

.unleash-your-minds-potential-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 80px;
}

.sign-in-with {
  position: relative;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 220px;
  flex-shrink: 0;
}

.co-logo {
  position: relative;
  width: 32px;
  height: 32px;
}

.secondbrain1 {
  color: white;
  position: relative;
  display: inline-block;
  width: 216px;
  flex-shrink: 0;
  font-size: var(--font-size-17xl);
  font-family: var(--font-turret-road);
  left: 5%;
}

.main-container {
  position: relative;
  width: 100%;
  height: calc(100% - 100px);
  top: 100px;
  overflow: hidden;
  text-align: center;
  font-size: 65px;
  color: var(--color-white);
  font-family: var(--font-darker-grotesque);
}

.full-logo {
  left: 5%;
  float: left;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  height: 100%;
}

.full-single-column {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  gap: 60px;
}

.big-logo {
  position: relative;
  width: 473px;
  height: 351px;
  object-fit: cover;
}

.big-logo::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("BrainBrain.png"), radial-gradient(rgba(255, 255, 255, 0.916) 30%, rgba(255, 255, 255, 0) 70%);
  background-position: left bottom;
  background-repeat: no-repeat;
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.big-logo:hover::before {
  opacity: 1;
}

#big-logo-img {
  position: relative;
  width: 473px;
  height: 351px;
  object-fit: cover;
}


.login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  font-family: var(--font-work-sans);
}

#login-button {
  border-radius: var(--br-781xl);
  background-color: rgba(255, 255, 255, 0.25);
  width: 350px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
  font-family: var(--font-work-sans);
  overflow: hidden;
  flex-shrink: 0;
  color: var(--color-white);
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#login-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
}

.glow-top-left {
  position: fixed;
  width: 750px;
  height: 750px;
  top: -375px;
  left: -375px;
  background-image: radial-gradient(closest-side, rgb(104, 67, 236) 0%, rgba(255, 255, 255, 0) 100%);
}

.glow-bottom-right {
  position: fixed;
  width: 750px;
  height: 750px;
  bottom: -375px;
  right: -375px;
  background-image: radial-gradient(closest-side, rgba(225, 60, 208, 0.83) 0%, rgba(255, 255, 255, 0) 100%);
}