.image-icon9 {
  position: absolute;
  width: 120.83%;
  top: 916px;
  right: -20.83%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 1690px;
  object-fit: cover;
}
.ai-generator-child {
  position: absolute;
  top: -178px;
  left: -128px;
  border-radius: 50%;
  background-color: var(--color-blueviolet);
  filter: blur(349px);
  width: 457px;
  height: 457px;
}
.image-13-icon {
  position: relative;
  width: 473px;
  height: 351px;
  object-fit: cover;
}
.second-brain {
  background: linear-gradient(
    89.95deg,
    #be4c45 4.02%,
    #e13cd0 28.92%,
    #6d01b7 50%,
    #242ade 70.68%,
    #43f1f6 94.78%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.unleash-your-minds-container {
  flex: 1;
  position: relative;
  line-height: 110%;
  font-weight: 600;
}
.unleash-your-minds-potential-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 80px;
}
.sign-in-with {
  position: relative;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 220px;
  flex-shrink: 0;
}
.blue,
.green,
.red,
.yeloow {
  position: absolute;
  height: 45.45%;
  width: 45.45%;
  top: 54.55%;
  right: 0;
  bottom: 0;
  left: 54.55%;
  background-color: #feba08;
}
.blue,
.green,
.red {
  right: 54.55%;
  left: 0;
  background-color: #05a6f0;
}
.green,
.red {
  top: 0;
  right: 0;
  bottom: 54.55%;
  left: 54.55%;
  background-color: #80bc06;
}
.red {
  right: 54.55%;
  left: 0;
  background-color: #f25325;
}
.microsoft1 {
  position: absolute;
  height: 68.75%;
  width: 68.75%;
  top: 15.63%;
  right: 15.63%;
  bottom: 15.63%;
  left: 15.63%;
}
.frame78,
.microsoft {
  overflow: hidden;
  flex-shrink: 0;
}
.microsoft {
  position: relative;
  width: 32px;
  height: 32px;
}
.frame78 {
  border-radius: var(--br-781xl);
  background-color: var(--color-gray-800);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 350px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.frame-parent9 {
  align-self: stretch;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  font-family: var(--font-work-sans);
}
.ai-generator-inner,
.frame-parent9,
.image-13-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.image-13-parent {
  align-self: stretch;
  height: 902px;
  gap: 60px;
}
.ai-generator-inner {
  position: absolute;
  top: 163px;
  left: -1px;
  width: 1440px;
}
.image-11-icon1 {
  position: relative;
  width: 53px;
  height: 56px;
  object-fit: cover;
}
.secondbrain1 {
  position: relative;
  display: inline-block;
  width: 216px;
  flex-shrink: 0;
}
.sign-up {
  position: relative;
  line-height: 27.3px;
}
.frame81,
.frame82 {
  border-bottom: 1.5px solid var(--color-gray-1100);
  box-sizing: border-box;
  width: 75px;
  justify-content: center;
  padding: 0 var(--padding-8xs);
}
.frame81 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame82 {
  font-size: var(--font-size-lg);
}
.frame80,
.frame82,
.image-11-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame80 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 var(--padding-xl);
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-mid);
  font-family: var(--font-work-sans);
}
.image-11-group {
  position: absolute;
  top: 45px;
  left: 23px;
  width: 1405px;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-17xl);
  font-family: var(--font-turret-road);
}
.ai-generator {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 1116px;
  overflow: hidden;
  text-align: center;
  font-size: 65px;
  color: var(--color-white);
  font-family: var(--font-darker-grotesque);
}
