
.image-icon {
  position: absolute;
  width: 120.83%;
  top: 916px;
  right: -20.83%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 1690px;
  object-fit: cover;
}
.notes-child {
  position: absolute;
  top: -178px;
  left: -128px;
  border-radius: 50%;
  background-color: var(--color-blueviolet);
  filter: blur(349px);
  width: 457px;
  height: 457px;
}
.search {
  position: relative;
  line-height: 20px;
  text-transform: capitalize;
}
.rectangle {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-781xl);
  background-color: var(--color-gray-900);
  height: 46px;
}
.search1 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 24.78px);
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
}
.frame1 {
  position: relative;
  width: 103.56px;
  height: 46px;
  text-align: center;
  color: var(--color-white);
}
.frame {
  align-self: stretch;
  border-radius: var(--br-781xl);
  background-color: var(--color-gray-1000);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-3xs) var(--padding-4xs)
    var(--padding-2xl);
  gap: var(--gap-1065xl);
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
.rectangle1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
  box-shadow: 0 58px 80px rgba(0, 0, 0, 0.16);
  height: 357px;
}
.note-title-example {
  position: relative;
  line-height: 37.8px;
  display: inline-block;
  width: 342px;
  height: 41px;
  flex-shrink: 0;
}
.with-ai-powered-image {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 27.3px;
  font-family: var(--font-work-sans);
  color: var(--color-silver-100);
  display: inline-block;
  width: 441.28px;
}
.note-title-example-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.rectangle2 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-781xl);
  background-color: var(--color-aqua);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 46px;
}
.tag-1 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 17.78px);
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
}
.frame4 {
  position: relative;
  width: 103.56px;
  height: 46px;
}
.rectangle3 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-781xl);
  background-color: var(--color-mediumorchid);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 46px;
}
.tag-2 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 18.78px);
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
}
.frame-div,
.frame3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame3 {
  flex-direction: row;
  gap: var(--gap-3xl);
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-work-sans);
}
.frame-div {
  position: absolute;
  top: 42px;
  left: 43.67px;
  height: 275px;
  flex-direction: column;
  gap: var(--gap-28xl);
}
.frame2 {
  flex: 1;
  position: relative;
  height: 357px;
}
.frame-container,
.frame-group {
  display: flex;
  justify-content: flex-start;
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.frame-group {
  width: 1378px;
  height: 2376px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-9xl);
}
.rectangle19 {
  width: 100%;
  top: 0;
  right: 0;
  height: 132px;
}
.frame29,
.m,
.rectangle19 {
  position: absolute;
  left: 0;
}
.m {
  top: -3px;
  line-height: 132px;
  font-weight: 600;
  background: linear-gradient(261.81deg, #d2ff3a, #6843ec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frame29 {
  width: 84.34%;
  top: 0.41px;
  right: 15.66%;
  height: 132px;
}
.active-accounts {
  position: absolute;
  top: 131.41px;
  left: 0;
  font-size: var(--font-size-base);
  line-height: 27.3px;
  text-transform: uppercase;
  font-family: var(--font-work-sans);
}
.frame27,
.frame28,
.frame30,
.frame32 {
  position: absolute;
  width: 92.98%;
  top: 0;
  right: 3.51%;
  left: 3.51%;
  height: 159px;
}
.frame27,
.frame30,
.frame32 {
  top: 194px;
  right: 3.47%;
  left: 3.55%;
}
.frame27,
.frame32 {
  top: 388px;
  right: 3.51%;
  left: 3.51%;
}
.frame27 {
  width: 44.47%;
  top: 0.41px;
  right: -2.06%;
  left: 57.59%;
  height: 573px;
}
.join-a-community,
.of-millions {
  position: relative;
  letter-spacing: 1px;
  line-height: 46.2px;
  display: inline-block;
  width: 410px;
}
.of-millions {
  width: 232px;
}
.join-a-community-parent {
  position: absolute;
  top: 41px;
  left: 27.5px;
  width: 388px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  font-size: var(--font-size-41xl);
  color: var(--color-white);
}
.frame26 {
  position: relative;
  width: 1140px;
  height: 595px;
  font-size: var(--font-size-107xl);
  color: var(--color-silver-100);
}
.frame-parent {
  position: absolute;
  top: 132px;
  left: -1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-88xl);
  font-size: var(--font-size-21xl);
  font-family: var(--font-darker-grotesque);
}
.image-11-icon {
  position: relative;
  width: 53px;
  height: 56px;
  object-fit: cover;
}
.secondbrain {
  position: relative;
  display: inline-block;
  width: 216px;
  flex-shrink: 0;
}
.create {
  position: relative;
  line-height: 27.3px;
}

.frame35,
.frame37 {
  width: 75px;
  justify-content: center;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.frame35 {
  border-bottom: 1.5px solid var(--color-gray-1100);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame37 {
  border-radius: var(--br-3xs);
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(
      89.94deg,
      #be4c45,
      #e13cd0 23.96%,
      #6d01b7 50.52%,
      #242ade 73.96%,
      #43f1f6
    );
  font-size: var(--font-size-lg);
}
.frame34,
.frame37,
.image-11-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame34 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 var(--padding-xl);
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-mid);
  font-family: var(--font-work-sans);
}
.image-11-parent {
  position: absolute;
  top: 45px;
  left: 23px;
  width: 1405px;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.rectangle22 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  height: 200px;
}
.div2,
.solana-hacker-house {
  position: absolute;
  display: inline-block;
}
.solana-hacker-house {
  top: calc(50% + 18.22px);
  left: calc(50% - 123.74px);
  line-height: 15.36px;
  text-transform: uppercase;
  width: 248px;
}
.div2 {
  top: calc(50% - 37.78px);
  left: calc(50% - 58.74px);
  font-size: var(--font-size-18xl);
  letter-spacing: 1px;
  line-height: 46.2px;
  color: var(--color-violet);
  width: 117px;
}
.frame41 {
  width: 100%;
  top: -0.22px;
  right: 0.09%;
  left: -0.09%;
}
.frame40,
.frame41,
.rectangle24 {
  position: absolute;
  height: 200px;
}
.frame40 {
  width: 9.49%;
  top: 1.22px;
  right: 90.5%;
  left: 0.01%;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-silver-200);
}
.rectangle24 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-gray-1200);
}
.solana-mobile-announcement,
.users-developers-and {
  position: absolute;
  width: 97.92%;
  top: 72.22px;
  left: 0.11%;
  line-height: 17.6px;
  display: inline-block;
}
.solana-mobile-announcement {
  width: 60.42%;
  top: 1.22px;
  font-size: var(--font-size-2xl);
  line-height: 28.08px;
}
.frame44 {
  position: absolute;
  width: 80%;
  right: 10.09%;
  bottom: 30.22px;
  left: 9.91%;
  height: 159px;
}
.frame43 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 200px;
}
.frame42,
.image-icon1 {
  position: absolute;
  height: 200px;
  overflow: hidden;
}
.image-icon1 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  object-fit: cover;
}
.frame42 {
  width: 9.49%;
  top: 221.22px;
  right: 90.5%;
  left: 0.01%;
  font-size: var(--font-size-base);
}
.rectangle25,
.rectangle26 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 420px;
}
.rectangle25 {
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
}
.rectangle26 {
  background-color: var(--color-gray-1200);
}
.frame-icon {
  position: absolute;
  top: 0.22px;
  left: calc(50% - 269.74px);
  width: 185px;
  height: 65px;
  overflow: hidden;
}
.builders-3-days {
  position: absolute;
  width: 99.63%;
  top: 79.22px;
  left: 0.05%;
  line-height: 17.6px;
  display: inline-block;
}
.frame47 {
  position: absolute;
  width: 90%;
  right: 5.04%;
  bottom: 30.22px;
  left: 4.96%;
  height: 132px;
}
.frame46 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 420px;
}
.frame45,
.image-icon2 {
  position: absolute;
  height: 420px;
  overflow: hidden;
}
.image-icon2 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  object-fit: cover;
}
.frame45 {
  width: 18.99%;
  top: 1.22px;
  right: 70.88%;
  left: 10.13%;
  font-size: var(--font-size-base);
}
.new-york-hacker,
.start-spreading-the {
  position: absolute;
  width: 93.33%;
  top: 0.22px;
  left: 0.11%;
  line-height: 28.08px;
  display: inline-block;
}
.start-spreading-the {
  width: 94.17%;
  top: 43.22px;
  font-size: var(--font-size-base);
  line-height: 17.6px;
}
.frame50 {
  position: absolute;
  width: 80%;
  right: 10.09%;
  bottom: 30.22px;
  left: 9.91%;
  height: 113px;
}
.frame48 {
  position: absolute;
  width: 9.49%;
  top: 1.22px;
  right: 60.75%;
  left: 29.76%;
  height: 200px;
  overflow: hidden;
}
.developers-building-during,
.div3 {
  position: absolute;
  display: inline-block;
}
.div3 {
  top: calc(50% - 44.78px);
  left: calc(50% - 68.74px);
  letter-spacing: 1px;
  line-height: 46.2px;
  width: 137px;
}
.developers-building-during {
  top: calc(50% + 11.22px);
  left: calc(50% - 97.74px);
  font-size: var(--font-size-xs);
  line-height: 15.36px;
  text-transform: uppercase;
  color: var(--color-silver-200);
  width: 195px;
}
.frame52 {
  position: absolute;
  top: calc(50% - 84.22px);
  left: calc(50% - 134.26px);
  width: 268px;
  height: 168px;
}
.frame51 {
  position: absolute;
  width: 9.49%;
  top: 221.22px;
  right: 60.75%;
  left: 29.76%;
  height: 200px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-23xl);
  color: var(--color-mediumspringgreen);
}
.lets-build-local,
.seoul-hacker-house {
  position: absolute;
  width: 78.75%;
  top: 0.22px;
  left: 0.11%;
  line-height: 28.08px;
  display: inline-block;
}
.lets-build-local {
  width: 91.25%;
  top: 43.22px;
  font-size: var(--font-size-base);
  line-height: 17.6px;
}
.frame53 {
  position: absolute;
  width: 9.49%;
  top: 1.22px;
  right: 50.62%;
  left: 39.88%;
  height: 420px;
  overflow: hidden;
}
.div4,
.solana-breakpoint-2022 {
  position: absolute;
  display: inline-block;
}
.div4 {
  top: calc(50% - 37.78px);
  left: calc(50% - 55.74px);
  letter-spacing: 1px;
  line-height: 46.2px;
  width: 111px;
}
.solana-breakpoint-2022 {
  top: calc(50% + 18.22px);
  left: calc(50% - 123.74px);
  font-size: var(--font-size-xs);
  line-height: 15.36px;
  text-transform: uppercase;
  color: var(--color-silver-200);
  width: 247px;
}
.frame56 {
  position: absolute;
  width: 9.49%;
  top: 1.22px;
  right: 40.5%;
  left: 50.01%;
  height: 200px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-23xl);
  color: var(--color-gold);
}
.builders-joined-london,
.london-hacker-house {
  position: absolute;
  width: 86.25%;
  top: 0.22px;
  left: 0.11%;
  line-height: 28.08px;
  display: inline-block;
}
.builders-joined-london {
  width: 97.5%;
  top: 43.22px;
  font-size: var(--font-size-base);
  line-height: 17.6px;
}
.frame60 {
  position: absolute;
  width: 80%;
  right: 10.09%;
  bottom: 30.22px;
  left: 9.91%;
  height: 130px;
}
.frame58 {
  position: absolute;
  width: 9.49%;
  top: 221.22px;
  right: 40.5%;
  left: 50.01%;
  height: 200px;
  overflow: hidden;
}
.lets-build-local1,
.seoul-hacker-house1 {
  position: absolute;
  width: 35%;
  top: 0.22px;
  left: 0.05%;
  line-height: 28.08px;
  display: inline-block;
}
.lets-build-local1 {
  width: 91.48%;
  top: 43.22px;
  font-size: var(--font-size-base);
  line-height: 17.6px;
}
.frame63 {
  position: absolute;
  width: 90%;
  right: 5.04%;
  bottom: 30.22px;
  left: 4.96%;
  height: 79px;
}
.frame61 {
  position: absolute;
  width: 18.99%;
  top: 1.22px;
  right: 20.88%;
  left: 60.13%;
  height: 420px;
  overflow: hidden;
}
.new-delhi-hacker,
.vibe-mint-build {
  position: absolute;
  width: 96.67%;
  top: 0.22px;
  left: 0.11%;
  line-height: 28.08px;
  display: inline-block;
}
.vibe-mint-build {
  width: 93.75%;
  top: 43.22px;
  font-size: var(--font-size-base);
  line-height: 17.6px;
}
.frame64 {
  position: absolute;
  width: 9.49%;
  top: 1.22px;
  right: 10.75%;
  left: 79.76%;
  height: 200px;
  overflow: hidden;
}
.daily-programs-used,
.div5 {
  position: absolute;
  display: inline-block;
}
.div5 {
  top: calc(50% - 37.78px);
  left: calc(50% - 47.74px);
  letter-spacing: 1px;
  line-height: 46.2px;
  width: 96px;
}
.daily-programs-used {
  top: calc(50% + 18.22px);
  left: calc(50% - 74.74px);
  font-size: var(--font-size-xs);
  line-height: 15.36px;
  text-transform: uppercase;
  color: var(--color-silver-200);
  width: 149px;
}
.frame68 {
  position: absolute;
  top: calc(50% - 84.22px);
  left: calc(50% - 90.76px);
  width: 181px;
  height: 168px;
}
.frame67 {
  position: absolute;
  width: 9.49%;
  top: 221.22px;
  right: 10.75%;
  left: 79.76%;
  height: 200px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-darkturquoise);
}
.solana-miami {
  position: absolute;
  width: 53.75%;
  top: 0.22px;
  left: 0.11%;
  line-height: 28.08px;
  display: inline-block;
}
.frame69 {
  position: absolute;
  width: 9.49%;
  top: 1.22px;
  right: 0.62%;
  left: 89.88%;
  height: 420px;
  overflow: hidden;
  font-size: var(--font-size-2xl);
}
.frame38,
.frame39 {
  position: absolute;
  width: 263.33%;
  top: 78px;
  right: -413.06%;
  left: 249.73%;
  height: 422px;
}
.frame38 {
  width: 83.33%;
  top: 2357px;
  right: 6.25%;
  left: 10.42%;
  height: 48px;
  font-size: var(--font-size-xl);
  font-family: var(--font-helvetica);
}
.rectangle42 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 383px;
}
.ether,
.frame-icon1 {
  position: relative;
}
.frame-icon1 {
  width: 206px;
  height: 30px;
}
.ether-parent,
.managed-by-artificial-intellig-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.managed-by-artificial-intellig-parent {
  gap: var(--gap-4xs);
  font-size: var(--font-size-base);
  font-family: var(--font-work-sans);
}
.ether-parent {
  position: absolute;
  top: 0.22px;
  left: 0;
  gap: var(--gap-5xs);
}
.frame72 {
  position: absolute;
  width: 19.28%;
  top: 79px;
  right: 66.45%;
  left: 14.26%;
  height: 221px;
}
.grants {
  position: absolute;
  top: 5.22px;
  left: 0.49%;
  font-size: var(--font-size-mini);
  line-height: 27.3px;
}
.careers,
.disclaimer,
.generator {
  position: absolute;
  top: 45px;
  left: 0;
  line-height: 27.3px;
}
.careers,
.disclaimer {
  top: 123px;
}
.careers {
  top: 84px;
}
.frame74 {
  position: absolute;
  width: 57.76%;
  top: 26px;
  right: 29.81%;
  left: 12.42%;
  height: 195px;
}
.ether1 {
  position: absolute;
  width: 40.37%;
  top: -0.78px;
  left: 12.7%;
  line-height: 18.72px;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-darker-grotesque);
  color: var(--color-white);
}
.frame73 {
  position: relative;
  width: 161px;
  height: 221px;
}
.newsletter,
.services {
  left: 0.33%;
  line-height: 27.3px;
}
.services {
  position: absolute;
  top: 5.22px;
}
.newsletter {
  top: 83.22px;
}
.blog,
.frame77,
.newsletter {
  position: absolute;
}
.blog {
  top: 44.22px;
  left: 0.33%;
  font-size: var(--font-size-mini);
  line-height: 27.3px;
}
.frame77 {
  width: 66.83%;
  top: 26px;
  right: 23.41%;
  left: 9.76%;
  height: 117px;
}
.get-connected {
  position: absolute;
  top: -0.78px;
  left: 9.98%;
  font-size: var(--font-size-mini);
  line-height: 18.72px;
  text-transform: uppercase;
  font-family: var(--font-darker-grotesque);
  color: var(--color-white);
}
.frame76 {
  position: absolute;
  width: 64.99%;
  top: 0;
  right: 35.01%;
  left: 0;
  height: 221px;
}
.frame75 {
  position: relative;
  width: 190px;
  height: 221px;
}
.frame-parent8 {
  position: absolute;
  top: 81px;
  left: 1201px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-lightslategray);
  font-family: var(--font-work-sans);
}
.divfooter {
  position: absolute;
  top: 3009px;
  left: calc(50% - 862px);
  width: 1732px;
  height: 383px;
}
.notes {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 3392px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-turret-road);
}
