/* Ask */

position: relative;
width: 1440px;
height: 960px;

background: #000000;


/* Ellipse 34 */

position: absolute;
width: 457px;
height: 457px;
left: -179px;
top: 888px;

background: #E13CD0;
filter: blur(174.5px);


/* Ellipse 32 */

position: absolute;
width: 457px;
height: 457px;
left: -128px;
top: -178px;

background: #6843EC;
filter: blur(174.5px);


/* Frame 114 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 107px;

position: absolute;
width: 1440px;
height: 837px;
left: -1px;
top: 116px;



/* Frame 108 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 24px;
gap: 24px;

width: 1440px;
height: 821px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

width: 300px;
height: 900px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle */

position: absolute;
height: 812px;
left: 0%;
right: 0%;
top: 0px;

background: #19161C;
box-shadow: 0px 58px 80px rgba(0, 0, 0, 0.16);
border-radius: 14px;


/* Frame 107 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
width: 267px;
height: 302px;
left: 13px;
top: 14px;



/* Frame */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 10px;
gap: 10px;

width: 267px;
height: 44px;

border: 1px solid #FFFFFF;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* + NEW CHAT */

width: 98px;
height: 20px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */
text-align: center;
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 8px;

width: 267px;
height: 44px;

border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: center;
flex-grow: 0;


/* Group */

position: absolute;
width: 20px;
height: 20px;
left: 2px;
top: 2px;



/* Exclude */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #C4C4C4;


/* Union */

position: absolute;
width: 7.17px;
height: 2.56px;
left: 10.7px;
top: 10.74px;

background: #DADADA;


/* Vector */

position: absolute;
left: 63.79%;
right: 25.54%;
top: 44.76%;
bottom: 44.55%;



/* Vector */

position: absolute;
left: 44.58%;
right: 44.75%;
top: 44.76%;
bottom: 44.55%;



/* Vector */

position: absolute;
left: 25.38%;
right: 63.96%;
top: 44.76%;
bottom: 44.55%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Chat Title 1 */

width: 215px;
height: 20px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 8px;

width: 267px;
height: 44px;

border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: center;
flex-grow: 0;


/* Group */

position: absolute;
width: 20px;
height: 20px;
left: 2px;
top: 2px;



/* Exclude */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #C4C4C4;


/* Union */

position: absolute;
width: 7.17px;
height: 2.56px;
left: 10.7px;
top: 10.74px;

background: #DADADA;


/* Vector */

position: absolute;
left: 63.79%;
right: 25.54%;
top: 44.76%;
bottom: 44.55%;



/* Vector */

position: absolute;
left: 44.58%;
right: 44.75%;
top: 44.76%;
bottom: 44.55%;



/* Vector */

position: absolute;
left: 25.38%;
right: 63.96%;
top: 44.76%;
bottom: 44.55%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Chat Title 2 */

width: 215px;
height: 20px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 8px;

width: 267px;
height: 44px;

border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frame */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: center;
flex-grow: 0;


/* Group */

position: absolute;
width: 20px;
height: 20px;
left: 2px;
top: 2px;



/* Exclude */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #C4C4C4;


/* Union */

position: absolute;
width: 7.17px;
height: 2.56px;
left: 10.7px;
top: 10.74px;

background: #DADADA;


/* Vector */

position: absolute;
left: 63.79%;
right: 25.54%;
top: 44.76%;
bottom: 44.55%;



/* Vector */

position: absolute;
left: 44.58%;
right: 44.75%;
top: 44.76%;
bottom: 44.55%;



/* Vector */

position: absolute;
left: 25.38%;
right: 63.96%;
top: 44.76%;
bottom: 44.55%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Chat Title 3 */

width: 215px;
height: 20px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame */

width: 1068px;
height: 880px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Rectangle */

position: absolute;
height: 811px;
left: 0%;
right: 0%;
top: 0px;

background: rgba(255, 255, 255, 0.41);
box-shadow: 0px 58px 80px rgba(0, 0, 0, 0.16);
border-radius: 14px;


/* Frame 105 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding: 20px;
gap: 22px;

position: absolute;
width: 1068px;
height: 811px;
left: 0px;
top: 0px;



/* Frame 119 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 22px;

width: 1028px;
height: 685px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 9px 10px 9px 21px;
gap: 698px;

width: 1028px;
height: 64px;

background: linear-gradient(89.94deg, rgba(190, 76, 69, 0.75) 0%, rgba(225, 60, 208, 0.75) 23.94%, rgba(109, 1, 183, 0.75) 50.48%, rgba(36, 42, 222, 0.75) 73.9%, rgba(67, 241, 246, 0.75) 99.93%);
background-blend-mode: screen;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Ask Your Brain a Question */

width: 190px;
height: 20px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */
text-transform: capitalize;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

width: 103.56px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Rectangle */

position: absolute;
height: 46px;
left: 0%;
right: 0%;
top: 0px;

background: rgba(255, 255, 255, 0.78);
border-radius: 800px;


/* Send */

position: absolute;
width: 37px;
height: 20px;
left: calc(50% - 37px/2 + 0.72px);
top: calc(50% - 20px/2);

font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */
text-align: center;
text-transform: capitalize;

color: #000000;



/* Frame 115 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 1405px;
height: 56px;
left: 23px;
top: 45px;



/* image 11 */

width: 53px;
height: 56px;

background: url(image.png);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* SecondBrain */

width: 216px;
height: 39px;

font-family: 'Turret Road';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 39px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px 20px;
gap: 20px;

width: 1116px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 5px;

width: 75px;
height: 28px;

border-bottom: 1.5px solid rgba(255, 255, 255, 0.65);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Create */

width: 58px;
height: 28px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 152% */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 5px;

width: 75px;
height: 28px;

border-width: 2px 0px;
border-style: solid;
border-color: rgba(255, 255, 255, 0.65);
filter: drop-shadow(2px 4px 4px rgba(255, 255, 255, 0.8));
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Ask */

width: 32px;
height: 28px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 152% */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 5px;

width: 75px;
height: 28px;

border-bottom: 1.5px solid rgba(255, 255, 255, 0.65);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* View */

width: 42px;
height: 28px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 152% */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
