<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Darker Grotesque:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Turret Road:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica:wght@400&display=swap"
    />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  </head>
  <body>
    <header>
      <nav>
        <div class="full-logo">
          <div class="small-logo">
            <a href="/" id="logo">SecondBrain</a>
          </div>
          <b class="secondbrain1">SecondBrain</b>
        </div>
          <ul>
              <li>
                  <a href="#working">Sign Up</a>
              </li>
              <li>
                  <a href="#germany">LogIn</a>
              </li>
          </ul>
      </nav>
  </header>
    <div class="main-container">
        <div class="two-cols">
          <div class="sidebar">
            <div class="sidebar-inner">
              <div class="new-chat-button">
                <div class="new-chat">+ NEW CHAT</div>
              </div>
              <div class="chat-select-button">
                <img class="chat-icon" alt="" src="https://img.icons8.com/material-outlined/24/FFFFFF/chat.png" />

                <div class="chat-title-1">Chat Title 1</div>
              </div>
              <div class="chat-select-button">
                <img class="chat-icon" alt="" src="https://img.icons8.com/material-outlined/24/FFFFFF/chat.png" />

                <div class="chat-title-1">Chat Title 2</div>
              </div>
              <div class="chat-select-button">
                <img class="chat-icon" alt="" src="https://img.icons8.com/material-outlined/24/FFFFFF/chat.png" />

                <div class="chat-title-1">Chat Title 3</div>
              </div>
            </div>
          </div>
          <div class="chat-window">
            <div class="chat-window-inner">
              <div class="msg-container">
                <div class="msg-left-msg">
                  <img
                    class="msg-info-name"
                    alt=""
                    src="{{url_for('static', filename='BrainBrain.png')}}"
                  />

                  <div class="msg-bubble">
                    Hi I'm SecondBrain, your AI note taking companion. How can I help you?
                  </div>
                </div>
                
              </div>



              <form class="chat-bottom">
              <input type="text" class = "chat-box" id="chat-box" name="chat-box-message" placeholder="Ask Your Brain a Question" autocomplete="off">
                  <button type="submit" class="msger-send-btn">
                    <img
                    class="msg-send-icon"
                    alt=""
                    src="https://img.icons8.com/material-rounded/48/FFFFFF/sent.png"
                  />
                  </button>
              </form>




            </div>
          </div>
        </div>
    </div>
      <script>

    const msgerForm = get(".chat-bottom");
    const msgerInput = get(".chat-box");
    const msgerChat = get(".msg-container");



    // Icons made by Freepik from www.flaticon.com


    const BOT_NAME = " {{url_for('static', filename='BrainBrain.png')}}";
    const PERSON_NAME = "{{url_for('static', filename='User.png')}}";

    msgerForm.addEventListener("submit", event => {
      event.preventDefault();

      const msgText = msgerInput.value;
      if (!msgText) return;

      appendMessage(PERSON_NAME, "right", msgText);
      msgerInput.value = "";
      botResponse(msgText);
    });

    function appendMessage(name,side, text) {
      //   Simple solution for small apps
      const msgHTML = `
<div class="msg-${side}-msg">
<img
         class="msg-info-name"
          alt=""
          src=${name}/>
  <div class="msg-bubble">
    <div class="user-message">${text}</div>
  </div>
</div>
`;

      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;
    }

    // Bot Response

    function botResponse(rawText) {
      // Bot Response
      $.get("/get", { msg: rawText }).done(function (data) {
        console.log(rawText);
        console.log(data);
        const msgText = data;
        appendMessage(BOT_NAME, "left", msgText);
      });
    }

    // Utils
    function get(selector, root = document) {
      return root.querySelector(selector);
    }




  </script>
  </body>
</html>
