<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='notes.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Turret Road:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Darker Grotesque:wght@400;600;700&display=swap"
    />
  </head>
  <body>
    <div class="notes">
      <div class="notes-child"></div>
      <div class="notes-item"></div>
      <div class="notes-inner">
        <div class="frame-group">
          <div class="frame-container">
            <div class="frame61">
              <div class="search1">Write Note Title Here</div>
              <div class="frame62">
                <div class="rectangle29"></div>
                <div class="search2">Search</div>
              </div>
            </div>
            <div class="frame63">
              <div class="frame64">
                <div class="rectangle30"></div>
                <div class="tag-14">Tag 1</div>
              </div>
              <div class="frame64">
                <div class="rectangle31"></div>
                <div class="tag-24">Tag 2</div>
              </div>
              <div class="frame64">
                <div class="rectangle32"></div>
                <div class="tag-24">Tag 3</div>
              </div>
              <div class="frame64">
                <div class="rectangle33"></div>
                <div class="tag-4">Tag 4</div>
              </div>
              <div class="frame64">
                <div class="rectangle34"></div>
                <div class="tag-24">Tag 5</div>
              </div>
            </div>
          </div>
          <div class="frame-div">
            <div class="frame-parent1">
              <div class="frame69">
                <div class="frame-parent2">
                  <div class="note-title-example-parent">
                    <div class="note-title-example4">Note Title Example</div>
                    <div class="edit-wrapper">
                      <img class="edit-icon" alt="" src="./public/edit.svg" />
                    </div>
                  </div>
                  <div class="with-ai-powered-image">
                    7/13/2023 - With AI-powered image generation, designers and
                    creatives can streamline their workflows and unlock new
                    levels of efficiency.
                  </div>
                </div>
                <div class="frame70">
                  <div class="frame64">
                    <div class="rectangle32"></div>
                    <div class="tag-14">Tag 1</div>
                  </div>
                  <div class="frame64">
                    <div class="rectangle31"></div>
                    <div class="tag-24">Tag 2</div>
                  </div>
                </div>
              </div>
              <div class="frame69">
                <div class="frame-parent2">
                  <div class="note-title-example-parent">
                    <div class="note-title-example4">Note Title Example</div>
                    <div class="edit-wrapper">
                      <img class="edit-icon" alt="" src="./public/edit.svg" />
                    </div>
                  </div>
                  <div class="with-ai-powered-image">
                    7/13/2023 - With AI-powered image generation, designers and
                    creatives can streamline their workflows and unlock new
                    levels of efficiency. the way I was thinking of framing the
                    questions were: first question show the search capability,
                    second question show that after we upload a new set of notes
                    our product takes that into consideration and updates the
                    answer and the third question showing the google search
                    capability
                  </div>
                </div>
                <div class="frame70">
                  <div class="frame64">
                    <div class="rectangle30"></div>
                    <div class="tag-14">Tag 1</div>
                  </div>
                  <div class="frame64">
                    <div class="rectangle31"></div>
                    <div class="tag-24">Tag 2</div>
                  </div>
                </div>
              </div>
              <div class="frame69">
                <div class="frame-parent2">
                  <div class="note-title-example-parent">
                    <div class="note-title-example4">Note Title Example</div>
                    <div class="edit-wrapper">
                      <img class="edit-icon" alt="" src="./public/edit1.svg" />
                    </div>
                  </div>
                  <div class="with-ai-powered-image">
                    7/13/2023 - With AI-powered image generation, designers and
                    creatives can streamline their workflows and unlock new
                    levels of efficiency.
                  </div>
                </div>
                <div class="frame70">
                  <div class="frame64">
                    <div class="rectangle32"></div>
                    <div class="tag-14">Tag 1</div>
                  </div>
                  <div class="frame64">
                    <div class="rectangle31"></div>
                    <div class="tag-24">Tag 2</div>
                  </div>
                </div>
              </div>
              <div class="frame69">
                <div class="frame-parent2">
                  <div class="note-title-example-parent">
                    <div class="note-title-example4">Note Title Example</div>
                    <div class="edit-wrapper">
                      <img class="edit-icon" alt="" src="./public/edit1.svg" />
                    </div>
                  </div>
                  <div class="with-ai-powered-image">
                    7/13/2023 - With AI-powered image generation, designers and
                    creatives can streamline their workflows and unlock new
                    levels of efficiency.
                  </div>
                </div>
                <div class="frame70">
                  <div class="frame64">
                    <div class="rectangle32"></div>
                    <div class="tag-14">Tag 1</div>
                  </div>
                  <div class="frame64">
                    <div class="rectangle31"></div>
                    <div class="tag-24">Tag 2</div>
                  </div>
                </div>
              </div>
              <div class="frame69">
                <div class="frame-parent2">
                  <div class="note-title-example-parent">
                    <div class="note-title-example4">Note Title Example</div>
                    <div class="edit-wrapper">
                      <img class="edit-icon" alt="" src="./public/edit1.svg" />
                    </div>
                  </div>
                  <div class="with-ai-powered-image">
                    7/13/2023 - With AI-powered image generation, designers and
                    creatives can streamline their workflows and unlock new
                    levels of efficiency.
                  </div>
                </div>
                <div class="frame70">
                  <div class="frame64">
                    <div class="rectangle32"></div>
                    <div class="tag-14">Tag 1</div>
                  </div>
                  <div class="frame64">
                    <div class="rectangle31"></div>
                    <div class="tag-24">Tag 2</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-parent7">
              <div class="frame69">
                <div class="frame-parent2">
                  <div class="note-title-example-parent">
                    <div class="note-title-example4">Note Title Example</div>
                    <div class="edit-wrapper">
                      <img class="edit-icon" alt="" src="./public/edit.svg" />
                    </div>
                  </div>
                  <div class="with-ai-powered-image">
                    7/13/2023 - With AI-powered image generation, designers and
                    creatives can streamline their workflows and unlock new
                    levels of efficiency. the way I was thinking of framing the
                    questions were: first question show the search capability,
                    second question show that after we upload a new set of notes
                    our product takes that into consideration and updates the
                    answer and the third question showing the google search
                    capability
                  </div>
                </div>
                <div class="frame70">
                  <div class="frame64">
                    <div class="rectangle33"></div>
                    <div class="tag-4">Tag 4</div>
                  </div>
                  <div class="frame64">
                    <div class="rectangle34"></div>
                    <div class="tag-24">Tag 5</div>
                  </div>
                </div>
              </div>
              <div class="frame69">
                <div class="frame-parent2">
                  <div class="note-title-example-parent">
                    <div class="note-title-example4">Note Title Example</div>
                    <div class="edit-wrapper">
                      <img class="edit-icon" alt="" src="./public/edit.svg" />
                    </div>
                  </div>
                  <div class="with-ai-powered-image">
                    7/13/2023 - With AI-powered image generation, designers and
                    creatives can streamline their workflows and unlock new
                    levels of efficiency.
                  </div>
                </div>
                <div class="frame70">
                  <div class="frame64">
                    <div class="rectangle32"></div>
                    <div class="tag-14">Tag 1</div>
                  </div>
                  <div class="frame64">
                    <div class="rectangle31"></div>
                    <div class="tag-24">Tag 2</div>
                  </div>
                </div>
              </div>
              <div class="frame69">
                <div class="frame-parent2">
                  <div class="note-title-example-parent">
                    <div class="note-title-example4">Note Title Example</div>
                    <div class="edit-wrapper">
                      <img class="edit-icon" alt="" src="./public/edit1.svg" />
                    </div>
                  </div>
                  <div class="with-ai-powered-image">
                    7/13/2023 - With AI-powered image generation, designers and
                    creatives can streamline their workflows and unlock new
                    levels of efficiency.
                  </div>
                </div>
                <div class="frame70">
                  <div class="frame64">
                    <div class="rectangle32"></div>
                    <div class="tag-14">Tag 1</div>
                  </div>
                  <div class="frame64">
                    <div class="rectangle31"></div>
                    <div class="tag-24">Tag 2</div>
                  </div>
                </div>
              </div>
              <div class="frame69">
                <div class="frame-parent2">
                  <div class="note-title-example-parent">
                    <div class="note-title-example4">Note Title Example</div>
                    <div class="edit-wrapper">
                      <img class="edit-icon" alt="" src="./public/edit1.svg" />
                    </div>
                  </div>
                  <div class="with-ai-powered-image">
                    7/13/2023 - With AI-powered image generation, designers and
                    creatives can streamline their workflows and unlock new
                    levels of efficiency.
                  </div>
                </div>
                <div class="frame70">
                  <div class="frame64">
                    <div class="rectangle32"></div>
                    <div class="tag-14">Tag 1</div>
                  </div>
                  <div class="frame64">
                    <div class="rectangle31"></div>
                    <div class="tag-24">Tag 2</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image-11-container">
        <img
          class="image-11-icon2"
          alt=""
          src="./public/image-11@2x.png"
          id="image11"
        />

        <b class="secondbrain2">SecondBrain</b>
        <div class="frame105">
          <div class="frame106">
            <div class="create2">Create</div>
          </div>
          <div class="frame106">
            <div class="create2">Ask</div>
          </div>
          <div class="frame108">
            <div class="create2">View</div>
          </div>
        </div>
      </div>
      <div class="frame109">
        <div class="frame110">
          <div class="frame111">
            <div class="rectangle53"></div>
            <div class="frame112">
              <div class="solana-hacker-house1">
                Solana Hacker House participants
              </div>
              <div class="div4">11,000</div>
            </div>
          </div>
          <div class="frame113">
            <div class="rectangle53"></div>
            <div class="frame114">
              <div class="rectangle55"></div>
              <div class="frame115">
                <div class="users-developers-and1">
                  Users, developers, and reporters were on the scene when Solana
                  Labs announced the Solana Mobile Stack and Saga device in June
                  2022.
                </div>
                <div class="solana-mobile-announcement1">
                  Solana Mobile Announcement
                </div>
              </div>
            </div>
            <img class="image-icon10" alt="" src="./public/image1@2x.png" />
          </div>
          <div class="frame116">
            <div class="rectangle56"></div>
            <div class="frame117">
              <div class="rectangle57"></div>
              <div class="frame118">
                <img class="frame-icon6" alt="" src="./public/frame.svg" />

                <div class="builders-3-days1">
                  3,800 builders. 3 days. 1 community. Teams from around the
                  world gathered in Lisbon in Nov. 2022 to learn, build, and
                  celebrate at the annual conference from the Solana Foundation.
                </div>
              </div>
            </div>
            <img class="image-icon11" alt="" src="./public/image2@2x.png" />
          </div>
          <div class="frame119">
            <div class="rectangle53"></div>
            <div class="frame114">
              <div class="rectangle55"></div>
              <div class="frame121">
                <div class="new-york-hacker1">New York Hacker House</div>
                <div class="start-spreading-the1">
                  Start spreading the news. Lines were out the door at the
                  Solana Foundation’s New York Hacker House in March 2022.
                </div>
              </div>
            </div>
            <img class="image-icon10" alt="" src="./public/image3@2x.png" />
          </div>
          <div class="frame122">
            <div class="rectangle53"></div>
            <div class="frame123">
              <div class="div5">48,000</div>
              <div class="developers-building-during1">
                Developers building during Solana Hackathons
              </div>
            </div>
          </div>
          <div class="frame124">
            <div class="rectangle56"></div>
            <div class="frame117">
              <div class="rectangle57"></div>
              <div class="frame121">
                <div class="seoul-hacker-house2">Seoul Hacker House</div>
                <div class="lets-build-local2">
                  Let’s build! Local devs came to the Solana Foundation’s Seoul
                  Hacker House ahead of Korea Blockchain Week 2022.
                </div>
              </div>
            </div>
            <img class="image-icon11" alt="" src="./public/image4@2x.png" />
          </div>
          <div class="frame127">
            <div class="rectangle53"></div>
            <div class="frame112">
              <div class="div6">3,800</div>
              <div class="solana-breakpoint-20221">
                Solana Breakpoint 2022 attendees
              </div>
            </div>
          </div>
          <div class="frame129">
            <div class="rectangle53"></div>
            <div class="frame114">
              <div class="rectangle55"></div>
              <div class="frame131">
                <div class="london-hacker-house1">London Hacker House</div>
                <div class="builders-joined-london1">
                  Builders joined London Hacker House, a five-day offline event
                  in June 2022, with advice and support from core Solana Lab
                  engineers.
                </div>
              </div>
            </div>
            <img class="image-icon10" alt="" src="./public/image5@2x.png" />
          </div>
          <div class="frame132">
            <div class="rectangle56"></div>
            <div class="frame117">
              <div class="rectangle57"></div>
              <div class="frame134">
                <div class="seoul-hacker-house3">Seoul Hacker House</div>
                <div class="lets-build-local3">
                  Let’s build! Local devs came to the Solana Foundation’s Seoul
                  Hacker House ahead of Korea Blockchain Week 2022.
                </div>
              </div>
            </div>
            <img class="image-icon11" alt="" src="./public/image6@2x.png" />
          </div>
          <div class="frame135">
            <div class="rectangle53"></div>
            <div class="frame114">
              <div class="rectangle55"></div>
              <div class="frame121">
                <div class="new-delhi-hacker1">New Delhi Hacker House</div>
                <div class="vibe-mint-build1">
                  Vibe. Mint. Build. Thousands of developers came to build
                  together at the Sept. 2022 New Delhi Solana Hacker House.
                </div>
              </div>
            </div>
            <img class="image-icon10" alt="" src="./public/image7@2x.png" />
          </div>
          <div class="frame138">
            <div class="rectangle53"></div>
            <div class="frame139">
              <div class="div7">1,075</div>
              <div class="daily-programs-used1">Daily programs used</div>
            </div>
          </div>
          <div class="frame140">
            <div class="rectangle56"></div>
            <div class="frame117">
              <div class="rectangle57"></div>
              <div class="frame121">
                <div class="solana-miami1">Solana Miami</div>
                <div class="lets-build-local2">
                  New and native users came to Solana Miami in April 2022 to
                  build, learn, and see real world Solana use cases.
                </div>
              </div>
            </div>
            <img class="image-icon11" alt="" src="./public/image8@2x.png" />
          </div>
        </div>
      </div>
      <div class="notes-child1"></div>
    </div>

    <script>
      var image11 = document.getElementById("image11");
      if (image11) {
        image11.addEventListener("click", function (e) {
          window.location.href = "./second-brain-landing-page.html";
        });
      }
      </script>
  </body>
</html>
